.create-user.offset-1.mt-4
  %h2.pl-4 Sign In
  = form_tag sessions_path, class: "sign_in px-4 py-3" do
    .form-group.col-5.no-padding
      = text_field_tag :full_name, nil, label: "full_name", class: "form-control", placeholder: "Full Name"
    .form-group.col-5.no-padding
      = text_field_tag :email, nil, label: "Email", class: "form-control", placeholder: "Email"
    .form-group.col-5.no-padding
      = password_field_tag :password, nil, label: "password", class: "form-control", placeholder: "Password"
    .form-group.col-5.no-padding
      %input(type="submit" value="Sign In" class="btn btn-default")
