.create-user.offset-1.mt-4
  %h2.pl-4 Create New Account
  %form.px-4.py-3(role="menu" aria-labelledby="dlabel")
    .form-group.col-5.no-padding
      %input.form-control{:type => "text", :id => "username", :placeholder => "username"}
    .form-group.col-5.no-padding
      %input.form-control{:type => "text", :id => "username", :placeholder => "password"}
    .form-group.col-5.no-padding
      %button.btn.form-control{:type => "submit"} Create
