@media (min-width: 576px) {
    .full-width { width: 100% !important; }
}

// GLOBAL STYLES

.no-border { border: 0; }
.no-padding { padding: 0 }
.divider { border-top: 1px solid rgb(230,230,230); }

// NAVBAR STYLES

nav {
	background-color: rgb(209,38,43)
}

.secondary {
	background-color: rgb(187,34,38)
}

.navbar-brand img {
	background-color: rgb(185, 34, 38);
}

.nav-link,
.input-group-text,
.btn {
	color: #fff;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.input-group-text,
.btn {
	font-size: 14px;
	background-color: rgb(185, 34, 38);
}

.input-group-text { cursor: pointer; }

nav a.nav-link:hover,
button:hover,
#log-in:hover,
.input-group-text:hover {
  background-color: rgb(146,39,42);
	color: white;
}

.dd-item { color: black; }

// BUSINESSES (Index) styles

.businesses-wrapper { margin-top: 18px; }
.business-review { margin-top: 10px; }

.review, .reviewer-img { padding: 0; }

.business img { border-radius: 2px; }

.review { margin-left: 8px; }

.main-info a:hover { color: #007bff; }

.rating span { color: rgb(102,102,102) }

.rating span,
.type a,
.address { font-size: 14px; }
.review p { font-size: 13px; }
.main-info a { font-size: 16px; }

.reviewer-img { line-height: 2.2; }

// BUSINESS (Show) styles

.title-area { 
	padding: 20px 0 30px 0;
	margin-bottom: 30px;
	background-color: rgb(245,245,245);
}

.title-area .rev-num { font-size: 16px; }
.title-area h2 { font-weight: 700; }

.user-review.date { 
	font-size: 14px;
	color: rgb(102,102,102);			
}
