%nav.container-fluid
  .navbar.row.text-center.justify-content-start.offset-1.no-padding
    %a.navbar-brand.no-padding.col-1{:href => "#"}
      = image_tag "logo.png"
    %form.form-inline.col-7
      .input-group.full-width
        %input.no-border.form-control{:type => "text"}
        .input-group-append
          %span.no-border.input-group-text M
    .col-1
      %button.btn Sign Up
%nav.container-fluid.secondary
  .row.justify-content-start.offset-1
    %ul.nav.col-7
      %li.nav-item
        %a.nav-link{:href => "#"} Businesses
      %li.nav-item
        %a.nav-link{:href => "#"} Reviews
      %li.nav-item
      %li.nav-item
        %a.nav-link{:href => "#"} Write a Review
      %li.nav-item
        %a.nav-link{:href => "#"} Log In


