.title-area.container-fluid
  .col-7.offset-1.justify-content-left
    .row
      .main-info.col-9.no-padding
        %h2 Riddel and Restaurant
      %button.btn.pull-right Write a Review
    .row
      .rating.container.no-padding
        .stars.d-inline-block
          %img{:src => "http://placehold.it/135x25"}
        .rev-num.d-inline-block
          %span 66 reviews
.container-fluid
  .user-review.offset-1
    .justify-content-left
      .row
        .col-1
          %img{:src => "http://placehold.it/60x60"}
        .col-2.no-padding
          = link_to 'Username', '#'
          %span.d-block 53 reviews
        .col-5.offset-1.review
          .stars.d-inline-block
            %img{:src => "http://placehold.it/100x18"}
          %span.date.d-inline-block 2/12/2017
          %p Riddle & Finns: home to the best seafood risotto I've ever tasted. Perhaps my favourite seafood restaurant in Brighton, it's surpassed by no other. Nestled away in Meeting House Lane, just off North Street, Riddle & Finns is suitably hidden so as to make it seem more exclusive than it actually is. As it markets itself as a champagne and oyster bar, you can imagine the kind of place it is. Due to an unwavering attention to detail all the dishes are perfectly balanced, 


