.title-area.container-fluid
  .col-7.offset-1.justify-content-left
    .row
      .main-info.col-9.no-padding
        %h2 Username
        -# %button.btn.pull-right Write a Review
    .row
      .rating.container.no-padding
        -# .stars.d-inline-block
        -#   %img{:src => "http://placehold.it/135x25"}
        .rev-num.d-inline-block
          %span 66 reviews
    .row
      %h4 Member since
      %span.d-inline-block January 2018
.member-reviews.col-8.offset-1.justify-content-left
  .container.business-review.no-padding.divider
    .row.review.col-11
      %h4 The Yard Iron
    .row.review.col-11
      %p For context, I'm a fish lover from California so I'm thankfully in a position to always be eating fresh fish prepared in numerous styles. I literally stumbled on this location while… For context, I'm a fish lover from California so I'm thankfully in a position to always be eating fresh fish prepared in numerous styles. I literally stumbled on this location while… 

